<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    <title> Tablero de Ajedrez </title>
</head>
<body>
    <h1 class="titulo">***Checkerboard***</h1>
    <table class="contenedor">
        {% for i in range(0,x) %}
        <tr>
            {% for j in range(0,num1) %}
                {% if (i+j)%2==0 %}
                    <th class="color1" style="background-color: {{color1}};"> </th>
                {% else %}
                    <th class="color2" style="background-color: {{color2}};"> </th>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>